<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add New User</a> | 
			<a href="/users">All Users List</a>
		</div>	
		<h2>Add h2 tag, commit and build automatically in Jenkins (1_19)</h2>
		<h1><%= title %></h1>
